<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">

      <mat-card class="example-card">
        <mat-card-title>Update Auction</mat-card-title>
        <mat-divider></mat-divider>
        <br>

        <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="editProductForm">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Auction Title" formControlName="name" required [(ngModel)]="product.name">
            <mat-error
              *ngIf="editProductForm.controls.name.errors?.required && editProductForm.controls.name.touched && editProductForm.controls.name.dirty">
              The Auction field is required!
            </mat-error>
            <mat-error
              *ngIf="editProductForm.controls.name.errors?.minlength">
              The Auction Title must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Location" formControlName="location" required [(ngModel)]="product.location">
            <mat-error
              *ngIf="editProductForm.controls.location.errors?.required && editProductForm.controls.location.touched && editProductForm.controls.location.dirty">
              The Location field is required!
            </mat-error>
            <mat-error
              *ngIf="editProductForm.controls.location.errors?.minlength">
              The Location field must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Image URL" formControlName="image" required type="url" [(ngModel)]="product.image">
            <mat-error
              *ngIf="editProductForm.controls.image.errors?.required && editProductForm.controls.image.touched && editProductForm.controls.image.dirty">
              The Image URL field is required!
            </mat-error>
            <mat-error
              *ngIf="editProductForm.controls.image.errors?.pattern">
              Invalid URL!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize placeholder="Description" formControlName="description"
                      required [(ngModel)]="product.description"></textarea>
            <mat-error
              *ngIf="editProductForm.controls.description.errors?.required && editProductForm.controls.description.touched && editProductForm.controls.description.dirty">
              The Description field is required!
            </mat-error>
            <mat-error
              *ngIf="editProductForm.controls.description.errors?.minlength">
              The Description field must be at least 10 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Starting Price" formControlName="startingPrice" required type="number" [(ngModel)]="product.startingPrice">
            <mat-error
              *ngIf="editProductForm.controls.startingPrice.errors?.required && editProductForm.controls.startingPrice.touched && editProductForm.controls.startingPrice.dirty">
              The Starting Price field must be a number!
            </mat-error>
          </mat-form-field>
          <br>

          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Auction ends" formControlName="endDate" [(ngModel)]="product.endDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi="true"></mat-datepicker>
            </mat-form-field>
          </div>
          <br>

          <button type="submit" mat-raised-button color="primary" [disabled]="!editProductForm.valid">Update Auction
          </button>

        </form>
      </mat-card>

    </div>


    <div class="col-sm-12 col-md-6">
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>{{product.name }}</mat-card-title>
          <mat-card-subtitle>{{product.location}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>

        <div class="container">
          <div class="row">
            <div class="col-6">
              <img mat-card-image [src]="product.image"
                   alt="image" style="margin-top: 5px;">
            </div>

            <div class="col-6">
              <p>{{product.description}}</p>
              <p><small>Starting Price:</small></p>
              <h4 style="margin-top: -15px;">{{product.startingPrice | currency:'DKK'}}</h4>

              <p><b>Start:</b> {{product.dateCreated | date}}</p>
              <p style="margin-top: -15px;"><b>End:</b> {{product.endDate | date}}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>


