<div class="container">
  <div class="row">
    <div class="col-12">

      <mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"
               matTooltip="{{t.user.firstname}} {{t.user.lastname}}"
               matTooltipPosition="above">
            <img mat-card-avatar [src]="t.user.profileImage" alt="profile image">
          </div>

          <mat-card-title>{{t.name}}</mat-card-title>
          <mat-card-subtitle>{{t.location}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider><br>


        <div class="container">
          <div class="row">
            <div class="col-3">
              <img mat-card-image [src]="t.image"
                   alt="image" style="margin-top: 5px;">
            </div>

            <div class="col-9">
              <p>{{t.description}}</p>
              <p><small>Starting Price:</small></p>
              <h4 style="margin-top: -15px;">{{t.startingPrice}} DKK</h4>

              <div *ngIf="(t.bids).length!=0 && t.bids[t.bids.length - 1].amount !=0" class="lastBid">
                <p><small>Last Bid:</small></p>
                <h4 style="margin-top: -15px;">{{t.bids[t.bids.length - 1].amount}} DKK</h4>
              </div>

              <p><b>Start:</b> {{t.dateCreated | date}}</p>
              <p style="margin-top: -15px;"><b>End:</b> {{t.endDate | date}}</p>



              <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="addBidForm">
                <mat-form-field class="example-full-width">
                  <input matInput type="number"
                         placeholder="Add your bid"
                         formControlName="amount" required>
                  <mat-error *ngIf="addBidForm.controls.amount.errors?.required && addBidForm.controls.amount.touched && addBidForm.controls.amount.dirty">
                    The Bid field is required!</mat-error>
                  <mat-error *ngIf="addBidForm.controls.amount.errors?.min">
                  Your Bid must be greater than tne Last Bid!</mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!addBidForm.valid">Add Bid</button>
              </form>



            </div>
          </div>
        </div>

      </mat-card>

    </div>
  </div>
</div>




