<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

      <mat-card class="example-card">
        <mat-card-title>Add Auction</mat-card-title>
        <mat-divider></mat-divider>
        <br>

        <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="addProductForm">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Auction Title" formControlName="name" required>
            <mat-error
              *ngIf="addProductForm.controls.name.errors?.required && addProductForm.controls.name.touched && addProductForm.controls.name.dirty">
              The Auction field is required!
            </mat-error>
            <mat-error
              *ngIf="addProductForm.controls.name.errors?.minlength">
              The Auction field must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Location" formControlName="location" required>
            <mat-error
              *ngIf="addProductForm.controls.location.errors?.required && addProductForm.controls.location.touched && addProductForm.controls.location.dirty">
              The Location field is required!
            </mat-error>
            <mat-error
              *ngIf="addProductForm.controls.location.errors?.minlength">
              The Location field must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Image URL" formControlName="image" required type="url">
            <mat-error
              *ngIf="addProductForm.controls.image.errors?.required && addProductForm.controls.image.touched && addProductForm.controls.image.dirty">
              The Image URL field is required!
            </mat-error>
            <mat-error
              *ngIf="addProductForm.controls.image.errors?.pattern">
              Invalid URL!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <textarea matInput matTextareaAutosize placeholder="Description" formControlName="description" required></textarea>
            <mat-error
              *ngIf="addProductForm.controls.description.errors?.required && addProductForm.controls.description.touched && addProductForm.controls.description.dirty">
              The Description field is required!
            </mat-error>
            <mat-error
              *ngIf="addProductForm.controls.description.errors?.minlength">
              The Description field must be at least 10 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Starting Price" formControlName="startingPrice" required type="number">
            <mat-error
              *ngIf="addProductForm.controls.startingPrice.errors?.required && addProductForm.controls.startingPrice.touched && addProductForm.controls.startingPrice.dirty">
              The Starting Price field must be a number!
            </mat-error>
          </mat-form-field>
          <br>

          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Auction ends" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi="true"></mat-datepicker>
            </mat-form-field>
          </div>
          <br>

          <button type="submit" mat-raised-button color="primary" [disabled]="!addProductForm.valid" id="btnCreateNewAuction">Add Auction
          </button>

        </form>

      </mat-card>

    </div>
  </div>
</div>
