<mat-card class="example-card">
  <p><span matBadge="{{ (products).length }}" matBadgeOverlap="false" matBadgeColor="accent">Total items</span></p>
</mat-card>

<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-form-field>
          <input matInput placeholder="Search..." [(ngModel)]="productSearch">
        </mat-form-field>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="isLoading" style="margin-left: 15px;">Please wait... We are loading products.</div>
  <div class="row" *ngIf="(products)?.length!=0">
    <div class="col-sm-12 col-md-6" *ngFor="let p of products.slice().reverse() | productSearch: productSearch">
      <app-product-info [product]="p" (productOverview)="onProductClick($event)"></app-product-info>
    </div>
  </div>
</div>

