<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

      <mat-card class="example-card container">
        <mat-card-title>Register</mat-card-title>
        <mat-divider></mat-divider>
        <br>

        <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error
              *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched && registerForm.controls.username.dirty">
              The Username field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.username.errors?.minlength">
              The Username field must be at least 3 characters
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" formControlName="firstname" required>
            <mat-error
              *ngIf="registerForm.controls.firstname.errors?.required && registerForm.controls.firstname.touched && registerForm.controls.firstname.dirty">
              The First Name field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.firstname.errors?.minlength">
              The First Name field must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" formControlName="lastname" required>
            <mat-error
              *ngIf="registerForm.controls.lastname.errors?.required && registerForm.controls.lastname.touched && registerForm.controls.lastname.dirty">
              The Last Name field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.lastname.errors?.minlength">
              The Last Name field must be at least 3 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error
              *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched && registerForm.controls.email.dirty">
              The Email field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.email.errors?.email">
              The Email field is not valid!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" required>
            <mat-error
              *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched && registerForm.controls.password.dirty">
              The Password field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.password.errors?.minlength">
              The Password field must be at least 5s characters!
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone" formControlName="phone" required>
            <mat-error
              *ngIf="registerForm.controls.phone.errors?.required && registerForm.controls.phone.touched && registerForm.controls.phone.dirty">
              The Phone field is required!
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.phone.errors?.minlength">
              The Phone field must be 8 characters!
            </mat-error>
          </mat-form-field>
          <br>

          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker touchUi="true"></mat-datepicker>
            </mat-form-field>
          </div>

          <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register
          </button>
        </form><br>
        <mat-divider></mat-divider><br>
        <p>Already registered?</p>
        <button mat-button color="accent" routerLink="/login" routerLinkActive="active" style="margin-left: -15px; margin-top: -15px;">Go to login...</button>

      </mat-card>

    </div>
  </div>
</div>
