<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-title>Rate a Seller</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" *ngIf="(users)?.length!=0">
    <div class="col-sm-12 col-md-6" *ngFor="let user of users">
      <div *ngIf="user.isAdmin===false">

        <mat-card class="example-card">

          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img mat-card-avatar [src]="user.profileImage" alt="profile image">
            </div>
            <mat-card-title>{{user.firstname }} {{user.lastname}}</mat-card-title>
            <br><br>
          </mat-card-header>
          <mat-divider></mat-divider>
          <app-rating></app-rating>
          <div class="text-right">
            <button mat-button color="accent" routerLink=" " style="margin-top: 30px; align-self: end;">More Info...</button>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</div>

