<mat-toolbar color="primary">
  <span class="logo" routerLink="./" routerLinkActive="active">Lauritz <mat-icon>gavel</mat-icon></span>
  <button mat-button routerLink="./" routerLinkActive="active">Home</button>

  <button mat-button routerLink="./product/auction-overview" routerLinkActive="active">Auction</button>


<!--  <button mat-button routerLink="./product/auction-create" routerLinkActive="active">Add Auction</button>
  <button mat-button routerLink="./product/auction-overview" routerLinkActive="active">Auction Overview</button>-->

  <button mat-button routerLink="./product/rate-seller" routerLinkActive="active">Sellers</button>

  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="/login" routerLinkActive="active" id="btnLogin">Login</button>

  <button mat-button routerLink="/register" routerLinkActive="active">Register</button>

</mat-toolbar>


<router-outlet></router-outlet>





<!--<footer><mat-divider></mat-divider><p class="small" style="padding: 10px;">Copyright Lauritz.com I 2019</p></footer>-->

<!--<app-product></app-product>-->
