<mat-toolbar color="primary">
  <span class="logo" routerLink="/">Lauritz <mat-icon>gavel</mat-icon></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/auction">Auction</button>

  <span class="example-fill-remaining-space"></span>

  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>


</mat-toolbar>


<router-outlet></router-outlet>



<!--<footer><mat-divider></mat-divider><p class="small" style="padding: 10px;">Copyright Lauritz.com I 2019</p></footer>-->

<!--<app-product></app-product>-->
